body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 40px;
}

.instructions{
    font-size: 20px;;
}

.canvas{
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
    border: 10px solid red;
    border-radius: 10px;
}

.rowContainer{
    display: flex;
}

.canvasSquare{
    box-sizing: border-box;
    border: 1px solid black;
}

.controlsContainer{
    display: flex;
}

.smallContainer{
    display: flex;
    flex-direction: column;
}