.canvas{
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
    border: 10px solid red;
    border-radius: 10px;
}

.rowContainer{
    display: flex;
}

.canvasSquare{
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border: 2px solid black;
}

.colored{
    background-color: red;
}